name: CI - Develop

on:
  push:
    branches:
      - dev

jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      tags: ghcr.io/${{ github.repository_owner }}/api-environment:dev
    secrets: inherit

  deploy:
    needs: build
    uses: ./.github/workflows/deploy.yml
    with:
      environment: development
      version: dev
      image: ${{ needs.build.outputs.image }}
    secrets: inherit
